.simple-slider{
    position: relative;
    width: 400px;
    height: 400px;
    display: block;
    margin: 0px auto;
    overflow: hidden;
    background-color: #dadada;
}
.simple-slider img{
    position: absolute;
    top: 0px;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
}
.simple-slider img.left{
    left: -400px;
}
.simple-slider img.right{
    right: -400px;
}
.simple-slider img.active{
    left: 0px;
    right: 0px;
    z-index: 10;
}
.simple-slider img.active.move{
    left: auto;
    right: auto;
}
.simple-slider img.next{
    z-index: 10;
}
.simple-slider .text-container{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 130px;
    overflow: hidden;
    padding: 15px 0px;
    margin: 0px;

}
.simple-slider .text-container .slider-text{
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
}
.simple-slider .text-container .left{
    left: -400px;
}
.simple-slider .text-container .right{
    right: -400px;
}
.simple-slider .text-container .active{
    left: 0px;
    right: 0px;
    z-index: 10;
}
.simple-slider .text-container .active.move{
    left: auto;
    right: auto;
}
.simple-slider .text-container .next{
    z-index: 10;
}
.simple-slider .text-container .slider-text h2{
    margin-top: 0px;
}

