@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
/* default */
*{
    font-family: 'Roboto';
    font-size: 14px;
    color: #727272;
    outline: none;
    border-radius: 0px;
}
body{
    font-family: 'Roboto';
    font-size: 14px;
    outline: none;
    color: #727272;
    border-radius: 0px;
}
/* site structure */
.header,.main,.footer{
    padding: 15px 0px;
}
.footer{
    padding-top: 100px;
}
/* elements */
.header h1{
    margin: 0px;
}
.a9-slider{
    position: relative;
    width: 400px;
    height: 400px;
    display: block;
    margin: 0px auto;
    overflow: hidden;
    background-color: #ddd;
}
.a9-slider img{
    position: absolute;
    top: 0px;
    left: -400px;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
}
.a9-slider img.active{
    left: 0px;
    z-index: 9;
}
.a9-slider img.next{
    z-index: 9;
}
.a9-slider .slider-text{
    position: absolute;
    bottom: 20px;
    right: -400px;
    z-index: 2;
    text-align: center;
    padding: 15px;
    width: inherit;
}
.a9-slider .text-active{
    right: 0px;
    z-index: 10;
}
.a9-slider .text-next{
    z-index: 10;
}



