@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
*{
    font-family: 'Roboto';
    font-size: 14px;
    color: #727272;
    outline: none;
    border-radius: 0px;
}
body{
    font-family: 'Roboto';
    font-size: 14px;
    outline: none;
    color: #727272;
    border-radius: 0px;
}
.header, .main, .footer{
    padding: 15px 0px;
}
.footer{
    padding-top: 100px;
}
.header h1{
    margin: 0px;
}
